/* Blog.css */
.banner-container {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.banner-container img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}