/* src/components/FilterModalCritical.css */
.filter-modal .filter-group {
    margin-bottom: 2em;
}
.filter-modal .filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.filter-option {
    background-color: white !important;
    color: black !important;
}
.filter-option.chosen {
    background-color: #fbbd08 !important;
    color: black !important;
    font-weight: bold !important;
}
  
  .filter-modal .ui.modal {
    z-index: 5000 !important;
  }