  img {
    max-width: 100%;
    height: auto;
  }

  .header {
    font-size: 4vw;
  }

  .huge-header {
    font-size: 6vw;
  }

  .ui.center.aligned.inverted.segment.transparent-yellow {
    background-color: rgba(255, 200, 0, 0.8) !important;
    /* White with 20% transparency */
  }

  .transparent-yellow {
    background-color: rgba(255, 223, 0, 0.5) !important;
    /* Override any existing background color */
  }


  .ui.modal {
    background: rgba(255, 255, 255, 0.5) !important;

  }

  .ui.grid>.stackable.stackable.row>.column,
  .ui.stackable.grid>.column.grid>.column,
  .ui.stackable.grid>.column.row>.column,
  .ui.stackable.grid>.column:not(.row),
  .ui.stackable.grid>.row>.column,
  .ui.stackable.grid>.row>.wide.column,
  .ui.stackable.grid>.wide.column {
    padding: 0.2rem 0.2rem !important;
  }