@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

.poiret-one {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.limelight {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn RD';
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2')
      format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2')
      format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


  

body.dark {
    background-color: #333;
    color: #fff;
}

body.dark .w3-blue {
    background-color: #494949 !important;
    color: #fff !important;
}

body.dark .w3-card, body.dark .w3-card-4 {
    background-color: #6d6d6d !important;
    color: #fff !important;
}

body.dark .w3-light-gray {
    background-color: #102027 !important;
    color: #fff !important;
}

body.dark button.w3-pink {
    background-color: #512da8 !important;
    color: #fff !important;
}

.impressum-footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.impressum-footer:hover {
    opacity: 1;
}


.yellow {
    background-color: #fbbd08 !important;

}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

/* You can add more global styles here */
