@font-face {
    font-family: "BreamcatcherRegular";
    src: url('/webFonts/BreamcatcherRegular/font.woff2') format('woff2'), url('/webFonts/BreamcatcherRegular/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
